{{>partials/header}}

          <div class="whatsapp-sup"><a href="https://api.whatsapp.com/send?1=pt_br&phone=+5514997836917"><i class="fab fa-whatsapp"></i></a></div>
          
        <section class="all_content">
            <div class="cont-1">
                <div class="content--title"><h2>A Lutheria Rolim</h2></div>
                <p>A lutheria Rolim foi criada no ano de 1991, na cidade de Taquarituba - São Paulo, pelo luthier Jair Rolim. Sob a consultoria de Vlamir Devanei Ramos, atual professor da Lutheria do conservatório de Tatuí - SP, buscou otimizar e diversificar a produção, com a utilização de conhecimentos científicos, materiais diferenciados, madeiras nacionais e importadas, técnicas europeias e tradicionais para fugir da industrialização à produção de instrumentos apenas comerciais.</p>
                <p>Hoje o idealismo de Jair Rolim tornou-se realidade: A empresa conquistou solidez no mercado e com uma gama extensa de instrumentos a oferecer todos os níveis de exigência, têm seus instrumentos em várias orquestras, escolas de música e até mesmo fora do país, com o reconhecimento dos mais conceituados profissionais.</p>
                <div class="img01"></div>
            </div>
            <div class="cont-2">
                <div class="content--title"><h2>Ao longo dos anos</h2></div>
                <p class="cont--subtitle">A empresa está a mais de 20 anos no mercado, realizando trabalhos para, desde clientes particulares, a instituições maiores, como escolas, orquestras e igrejas.</p>
                
                <div class="inside--title"><h3>Trilhando Nosso Caminho</h3></div>

                <p>Em 1991, a lutheria iniciou suas atividades com um conjunto de quatro funcionários e seus dois donos, Aparecido e Jair Rolim. Sem um prédio próprio, trabalharam em um barracão por aluguel durante dois anos. </p><p>Finalmente, em 1993, realizaram a aquisição de um terreno particular para a construção do prédio da fábrica, localizado na Rua Benedito Vaz de Campos, na Vila Ouro Branco, em Taquarituba. Logo nesse momento, foi observada a necessidade de mais mão de obra, porém, como a confecção de violinos é uma arte, não é fácil empregar profissionais qualificados. </p> <p>Com a pandemia da covid-19, muitas empresas fecharam ou diminuíram sua produção, mas a lutheria não precisou mandar nenhum funcionário embora ou diminuir salários, conseguindo passar por esse período tão complicado normalmente.</p>

                <div class="inside--title"><h3>Revendedores</h3></div>
                <p> A primeira loja que pegou para revender os produtos da Rolim foi a Musical Hola - a loja não existe mais -, era localizada na Avenida Celso Garcia, em São Paulo, no bairro Tatuapé. Inicialmente eram fabricados de dez a quinze instrumentos por mês para compra, porém, com a propagação da marca, logo surgiram mais lojas interessadas na revenda. </p><p>Depois de São Paulo, com a consolidação da marca acontecendo, alguns outros centros urbanos passaram a revender os instrumentos da Rolim, como Sorocaba, Campinas, Salto, Itu, Curitiba e mais outras. Há uma quantidade de lojas por boa parte do país onde os instrumentos da marca são reconhecidos e bem aceitos.</p>

                <div class="inside--title"><h3>Nossas Conquistas</h3></div>
                <p class="inside--quote"><i>“Ganhar reconhecimento pela fabricação dos violinos é o que mais nos alegra. Receber elogios, ouvir que os instrumentos são bons. Isso é o mais importante.”</i>- diz Jair Rolim. </p> <p>Não se pode dizer que o reconhecimento internacional é inteiramente sólido, não é realizada uma exportação de fato. Contudo, há instrumentos da Rolim que foram enviados a grandes representantes econômicos, como Alemanha, Japão e até mesmo para a China, cumprindo com a qualidade característica da lutheria de satisfazer seus compradores.</p>

                <div class="inside--title"><h3>O Futuro da Rolim</h3></div>
                <p>A ideia é que a empresa continue sob o domínio do ramo familiar, com aqueles que deram o nome a marca, que vem crescendo e tomando reconhecimento pelo Brasil. Jair Rolim agradece a Deus pela consolidação de sua empresa e espera que continue, sim, dentro da própria família, até mesmo porque estes sempre formaram a parte majoritária de funcionários.</p>

            </div>
            <div class="cont-3">
                <div class="img02"></div>
                <div class="content--title"><h2>Confecção dos instrumentos</h2></div>
                <p>Os instrumentos da lutheria são de fabricação semi artesanal, com menos de 20% de sua produção realizada em fábrica. Assim, a atenção dirigida as peças acaba por ser particular e especial desde as primeiras medidas até os ajustes finais. </p><p>Devido à dificuldade de encontrar mão de obra para o processo artesanal que é tão delicado, a equipe reduzida de funcionários da Rolim não produz em grande escala, mas sim em remessas pequenas e, por serem sob encomenda, cada um é preparado individualmente para seu comprador. </p><p>Os modelos de todos os instrumentos disponíveis para compra da lutheria têm sua base em instrumentos antigos, datados de três centenas de anos atrás, e, para a produção, é buscada a maior aproximação com os mesmos.</p>
                <p>Para um custo de produção vantajoso e que não deixasse a qualidade acústica de lado em nenhuma circunstância, a Rolim aposta e utiliza algumas das madeiras brasileiras em suas obras, são elas: Pinho Araucária, Grevílea, Caxeta, Ipê, Caviúna e Pau Brasil. </p><p>Essas, nas mãos do excelente trabalho da lutheria, trazem ao comprador um instrumento de verdadeira qualidade e ainda apontam o valor dos recursos nacionais. Tudo isso acontece abaixo da supervisão de Jair Rolim, que também faz parte de todas as etapas de construção das peças.</p>
                <p><i>“O que tem grande valor é o trabalho artesanal, que contém todo o cuidado dessa forma de produção” </i> - acrescenta o luthier.</p>
                
            </div>
            <div class="timeline__title"><h2>Linha do Tempo</h2></div>
           <div class="timeline">
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right">1991</div>
              </div>
              <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg">
                <h3 class="timeline__title">Iniciação das atividades</h3>
                    <p class="timeline__text">Trabalhando com apenas um tipo de instrumento: o violino.</p>
            </div>
            
            <div class="timeline__component timeline__component--bg">
                <h3 class="timeline__title">Aparição no mercado</h3>
                    <p class="timeline__text">Eram fabricados pouco mais de dez instrumentos para revenda.</p>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component">
                <div class="timeline__date ">1992</div>
              </div>
            
            <div class="timeline__component">
                <div class="timeline__date timeline__date--right">1993</div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg">
                <h3 class="timeline__title">Um grande passo</h3>
                <p class="timeline__text">Construção do primeiro prédio particular da fábrica para realização da produção.</p>
            </div>
            
            <div class="timeline__component timeline__component--bg">
                <h3 class="timeline__title">Os instrumentos no exterior</h3>
                    <p class="timeline__text">A qualidade dos violinos da Rolim é reconhecida: são vendidos alguns violinos para escola de música na Alemanha.</p>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component">
                <div class="timeline__date ">1997</div>
              </div>

            <div class="timeline__component">
                <div class="timeline__date timeline__date--right">2010</div>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component timeline__component--bg">
                <h3 class="timeline__title">Utilização das redes</h3>
                <p class="timeline__text">Criação do primeiro Blog para reconhecimento virtual da marca e dois anos depois, em 2012, a criação de uma página no Facebook.</p>
            </div>

            <div class="timeline__component timeline__component--bg">
                <h3 class="timeline__title">A influência da internet</h3>
                    <p class="timeline__text">Aquisição do primeiro website e criação de página no Instagram para a promoção da marca.</p>
            </div>
            <div class="timeline__middle">
                <div class="timeline__point"></div>
            </div>
            <div class="timeline__component">
                <div class="timeline__date ">2020</div>
              </div>
              
              
            </div>            
    </section>
{{>partials/footer}}
        