 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>ROLIMSOM - Entrar</title>
     <link rel="stylesheet" href="assets/CSS/loginIndex.css">
 </head>
 <body>
    <div class="main-content">
        <div class="container">
            <form method="POST" enctype="application/x-www-form-urlencoded">
                <input type="text" name="username" placeholder="Usuário">
                <br>
                <input type="password" name="password" placeholder="Senha">
                <br>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>
 </body>
 </html>