 <!DOCTYPE html>
 <html>
 <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>Rolim - Entrar</title>
     <link rel="stylesheet" href="../assets/styles/adminStyles/index.css">
 </head>
 <body>
    <div>
        <img class="error_admin_mobile" src="../assets/images/painel_admin_error.png">
    </div>

    <div class="main-content">
        <div class="container">
            <div class="logo-cont">
                <img id="whiteLogo" src="../assets/images/marcaBranca.png" alt="">
            </div>
            <form method="POST" enctype="application/x-www-form-urlencoded">
                <i class="fas fa-user icon"></i>
                <input type="text" name="username" placeholder="Usuário">
                <br>
                <i class="fas fa-lock icon"></i>
                <input type="password" name="password" placeholder="Senha">
                <br>
                <input type="submit" value="Entrar">
            </form>
        </div>
    </div>

    <script src="https://kit.fontawesome.com/6bb7bca18b.js" crossorigin="anonymous"></script>
 </body>
 </html>