{{>partials/header}}
<section class="hero"></section>
        <div class="modelstittle">
        <h1>Nossos modelos</h1>
            <p>Fabricamos artesanalmente Violinos, Violas, Violoncelos e Contrabaixos,</p>
            <p>escolha o qual você deseja conhecer, para obter mais detalhes sobre o modelo.</p>
        </div>
            <section class="demo-content">
            <div data-js="carousel__item" class="modelos carousel__item carousel__item--visible">
                <div class="inf">
                    <h1>Violinos & Violas </h1>
                    <button href="#">ver mais</button>
                </div>
            <img src="assets/images/violino.jpg" alt="" srcset="">
            </div>
            <div data-js="carousel__item" class="modelos carousel__item">
                    <div class="inf">
                        <h1>Violoncelos</h1>
                        <button href="#">ver mais</button>
                    </div>
                <img src="assets/images/violoncelo.jpg" alt="" srcset="">
            </div>
            <div data-js="carousel__item" class="modelos carousel__item">
                <div class="inf">
                    <h1>Contrabaixos</h1>
                    <button href="#">ver mais</button>
                </div>
            <img src="assets/images/baixo50out.jpg" alt="">
            </div> 
                <div class="prevbutton" data-js="carousel__button--prev">
                    <a>&#8249;</a>
                </div>
                <div class="nextbutton" data-js="carousel__button--next">
                     <a>&#8250;</a>
                </div>
            </section>
        <section class="lojas">
                <div class="lojatittle">
                    <div class="info">
                        <h2>Conheça nossos</h2>
                        <h1>revendedores</h1>
                    </div>
                    <div class="spoiler">
                        <p>que possuem instrumentos Rolim a pronta-entrega, mais próximo a você!</p>
                    </div>
                        <button class="buttonloja" href="#">ver mais</button>
                </div>
        </section>
{{>partials/javascript}}
        