{{>partials/header}}
    
    <div class="whatsapp-sup"><a href="https://api.whatsapp.com/send?1=pt_br&phone=+5514997836917"><i class="fab fa-whatsapp"></i></a></div>

        <section class="lojas-container">
           
            <div class="slideshow-container">
                <div class="title">
                    <h1>Conheça as lojas revendedoras de nossos produtos!</h1>
                </div>
                <div class="mySlides fade tam">
                    <div class="img01"></div>
                </div>
                <div class="mySlides fade tam">
                    <div class="img02"></div>
                </div> 
                <div class="mySlides fade tam">
                    <div class="img03"></div>   
                </div> 
            </div>

      <!-- Divisão -->    
        <div class="revend">
            <h2>Revendedoras E-Commerce</h2>
            <h3>Lojas com nossos produtos à pronta-entrega</h3>
            <div class="glider-contain">
                <div class="glider">
                <div class="loja">
                    <a href="https://lista.mercadolivre.com.br/rolim#D[A:rolim]">
                    <img src="assets/images/lojas/mercadolivre-logo.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.shoptime.com.br/busca/rolim?content=rolim&filter=%7B%22id%22%3A%22wit%22%2C%22value%22%3A%22Viola%22%2C%22fixed%22%3Afalse%7D&filter=%7B%22id%22%3A%22wit%22%2C%22value%22%3A%22Violino%22%2C%22fixed%22%3Afalse%7D&filter=%7B%22id%22%3A%22wit%22%2C%22value%22%3A%22Contrabaixo%22%2C%22fixed%22%3Afalse%7D&sortBy=relevance&source=nanook&testab=searchTestAB%3Dold">
                    <img src="assets/images/lojas/shoptime-logo.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.submarino.com.br/busca/rolim?content=rolim&filter=%7B%22id%22%3A%22wit%22%2C%22value%22%3A%22Contrabaixo%22%2C%22fixed%22%3Afalse%7D&filter=%7B%22id%22%3A%22wit%22%2C%22value%22%3A%22Violino%22%2C%22fixed%22%3Afalse%7D&filter=%7B%22id%22%3A%22wit%22%2C%22value%22%3A%22Viola%22%2C%22fixed%22%3Afalse%7D&sortBy=relevance&source=nanook&testab=searchTestAB%3Dnew">
                    <img src="assets/images/lojas/submarino-logo.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.enjoei.com.br/p/violoncelo-rolim-montagnana-envelhecido-fosco-4-4-45325148?rsid=2b94dd8d-65aa-4f7a-af87-41e0a5e6db32-1637784956411&rsp=1&rspix=15">
                    <img src="assets/images/lojas/enjoei-logo.jpg" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.soprodivinomusical.com.br/catalogsearch/result/?q=rolim">
                    <img src="assets/images/lojas/sopro-divino-musical-logo.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="http://www.sammusical.com.br/consulta.php?palavra=rolim">
                    <img src="assets/images/lojas/sam-instrumentos-musicais.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.soloinstrumentos.com.br/search/?q=rolim">
                    <img src="assets/images/lojas/solo-instrumentos-musicais.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://webinstrumentosmusicais.com.br/rolim">
                    <img src="assets/images/lojas/web-instrumentos.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://preludemusical.com.br/?s=rolim">
                    <img src="assets/images/lojas/prelude-musical.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.inoveinstrumentos.com.br/rolim">
                    <img src="assets/images/lojas/inove-instrumentos.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.ajoiamusical.com.br/busca/21512/0/rolim">
                    <img src="assets/images/lojas/a-joia-musical.png" alt="">
                    </a>
                </div>
                </div>
              
                <div role="tablist" class="dots"></div>
              </div>
        </div>

        <!-- Divisão -->
        <div class="revend">
            <h2>Revendedoras Físicas</h2>
            <h3>Lojas com endereços físicos e nossos produtos à pronta-entrega</h3>
            <div class="glider-contain">
                <div class="glider2">
                  <div class="loja">
                      <a href="https://www.google.com.br/maps/place/@-23.3746372,-46.751026,15z/data=!4m5!3m4!1s0x0:0x3cb71f003232055!8m2!3d-23.3746372!4d-46.751026">
                      <img src="assets/images/lojas/sopro-divino-musical-logo.png" alt="">
                      </a>
                    </div>
                  <div class="loja">
                      <a href="https://www.google.com.br/maps/place/@-23.5176466,-46.5285978,15z/data=!4m2!3m1!1s0x0:0x3ec4e456e2e6c36f?sa=X&ved=2ahUKEwj78JawgLT0AhXoqpUCHcStAWsQ_BJ6BAhWEAU">
                     <img src="assets/images/lojas/hpg-musical.png" alt="">
                      </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-23.6568921,-47.2212576,15z/data=!4m5!3m4!1s0x0:0x103eccda8e6c854c!8m2!3d-23.6568921!4d-47.2212576">
                    <img src="assets/images/lojas/sinfonia-instrumentos.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-23.3503984,-47.8532697,15z/data=!4m5!3m4!1s0x0:0x4c4ca5dab84d1ed3!8m2!3d-23.3503984!4d-47.8532697">
                    <img src="assets/images/lojas/perin-instrumentos-musicais.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-23.4977672,-47.4626481,17z/data=!3m1!4b1!4m5!3m4!1s0x0:0x6aaa4ce49d0ee0fa!8m2!3d-23.4977815!4d-47.4604812">
                    <img src="assets/images/lojas/click-musical.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-23.5428518,-47.447641,15z/data=!4m5!3m4!1s0x0:0xf20e2acaf4bb9a41!8m2!3d-23.5428515!4d-47.4476242">
                    <img src="assets/images/lojas/lm-som.jpg" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-23.9859744,-48.873672,15z/data=!4m2!3m1!1s0x0:0xfff3804bfa5b0df5?sa=X&ved=2ahUKEwiRrb-IgrT0AhUrpJUCHXkTAocQ_BJ6BAhCEAU">
                    <img src="assets/images/lojas/gil-instrumentos.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-22.7421228,-47.327357,15z/data=!4m5!3m4!1s0x0:0xb5d7f673d2c03106!8m2!3d-22.7421228!4d-47.327357">
                    <img src="assets/images/lojas/aghata-music.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-23.5958943,-48.0603034,15z/data=!4m2!3m1!1s0x0:0x656eb00043654ee6?sa=X&ved=2ahUKEwi-k7-Yg7T0AhWPqZUCHZUkDrMQ_BJ6BAhAEAU">
                    <img src="assets/images/lojas/pereira-instrumentos.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/@-24.004487,-48.349018,15z/data=!4m2!3m1!1s0x0:0xf16dedab7a6a77b6?sa=X&ved=2ahUKEwjh3fisg7T0AhUApZUCHYL4CRkQ_BJ6BAg5EAU">
                    <img src="assets/images/lojas/musical-dinamica.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/Musical+Silva/@-22.8952501,-47.0769328,15z/data=!4m2!3m1!1s0x0:0xa38152971a98e9c0?sa=X&ved=2ahUKEwjN-fe3g7T0AhXGqJUCHQ--BqMQ_BJ6BAhCEAU">
                    <img src="assets/images/lojas/musical-silva.png" alt="">
                    </a>
                </div>
                <div class="loja">
                    <a href="https://www.google.com.br/maps/place/Weber+Instrumentos+Musicais/@-21.7914022,-48.1696869,15z/data=!4m2!3m1!1s0x0:0xfa0ce727ac42f711?sa=X&ved=2ahUKEwi_kfTBg7T0AhWdqpUCHdCAD7YQ_BJ6BAhOEAU">
                    <img src="assets/images/lojas/weber-instrumentos-musicais.png" alt="">
                    </a>
                </div>
                </div>
              
                <div role="tablist" class="dots2"></div>
              </div>
        </div>
        </section>
        <!-- Ju linda :)-->
        <!-- Concordo -->
{{>partials/footer}}