{{>partials/header}}

  <div class="whatsapp-sup"><a href="https://api.whatsapp.com/send?1=pt_br&phone=+5514997836917"><i class="fab fa-whatsapp"></i></a></div>

  <div class="local">
        <span class="f1">Início</span>
        <span>Produtos</span>
    </div> 
     <h1 class="sliderTitle">Caso deseje procurar apenas um tipo de instrumento, selecione-o a baixo.</h1>

{{#menu.products}}
<section>
            <div class="glider-contain">
              <div class="glider">
                <div class="model" onclick="window.location.href='/produtos/violinos'">
                  <div class="informação">
                    <h1>Violinos</h1>
        
                    </div>
                    <img src="assets/images/violino.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violas'">
                  <div class="informação">
                    <h1>Violas</h1>
                
                    </div>
                    <img src="assets/images/viola.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violoncelos'">
                  <div class="informação">
                    <h1>Violoncelos</h1>
                
                    </div>
                    <img src="assets/images/violoncelo.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/contra-baixos'">
                  <div class="informação">
                    <h1>Contra-baixos</h1>
                    </div>
                    <img src="assets/images/baixo.jpg" alt="" srcset="">
                </div>
              </div>
            
              <button aria-label="Previous" class="glider-ant" aria-disabled="false">&#8249;</button>
              <button aria-label="Next" class="glider-prox" aria-disabled="false">&#8250;</button>
            </div>
</section>
{{/menu.products}}

{{#menu.violins}}
<section>
            <div class="glider-contain">
              <div class="glider">
                <div class="model" onclick="window.location.href='/produtos/violinos'">
                  <div class="informação">
                    <h1>Violinos</h1>
        
                    </div>
                    <img src="../assets/images/violino.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violas'">
                  <div class="informação">
                    <h1>Violas</h1>
                
                    </div>
                    <img src="../assets/images/viola.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violoncelos'">
                  <div class="informação">
                    <h1>Violoncelos</h1>
                
                    </div>
                    <img src="../assets/images/violoncelo.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/contra-baixos'">
                  <div class="informação">
                    <h1>Contra-baixos</h1>
                    </div>
                    <img src="../assets/images/baixo.jpg" alt="" srcset="">
                </div>
              </div>
            
              <button aria-label="Previous" class="glider-ant" aria-disabled="false">&#8249;</button>
              <button aria-label="Next" class="glider-prox" aria-disabled="false">&#8250;</button>
            </div>

</section>
{{/menu.violins}}

{{#menu.violas}}
<section>
            <div class="glider-contain">
              <div class="glider">
                <div class="model" onclick="window.location.href='/produtos/violinos'">
                  <div class="informação">
                    <h1>Violinos</h1>
        
                    </div>
                    <img src="../assets/images/violino.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violas'">
                  <div class="informação">
                    <h1>Violas</h1>
                
                    </div>
                    <img src="../assets/images/viola.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violoncelos'">
                  <div class="informação">
                    <h1>Violoncelos</h1>
                
                    </div>
                    <img src="../assets/images/violoncelo.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/contra-baixos'">
                  <div class="informação">
                    <h1>Contra-baixos</h1>
                    </div>
                    <img src="../assets/images/baixo.jpg" alt="" srcset="">
                </div>
              </div>
            
              <button aria-label="Previous" class="glider-ant" aria-disabled="false">&#8249;</button>
              <button aria-label="Next" class="glider-prox" aria-disabled="false">&#8250;</button>
            </div>

</section>
{{/menu.violas}}


{{#menu.cbaixos}}
<section>
            <div class="glider-contain">
              <div class="glider">
                <div class="model" onclick="window.location.href='/produtos/violinos'">
                  <div class="informação">
                    <h1>Violinos</h1>
        
                    </div>
                    <img src="../assets/images/violino.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violas'">
                  <div class="informação">
                    <h1>Violas</h1>
                
                    </div>
                    <img src="../assets/images/viola.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violoncelos'">
                  <div class="informação">
                    <h1>Violoncelos</h1>
                
                    </div>
                    <img src="../assets/images/violoncelo.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/contra-baixos'">
                  <div class="informação">
                    <h1>Contra-baixos</h1>
                    </div>
                    <img src="../assets/images/baixo.jpg" alt="" srcset="">
                </div>
              </div>
            
              <button aria-label="Previous" class="glider-ant" aria-disabled="false">&#8249;</button>
              <button aria-label="Next" class="glider-prox" aria-disabled="false">&#8250;</button>
            </div>

</section>
{{/menu.cbaixos}}

{{#menu.celos}}
<section>
            <div class="glider-contain">
              <div class="glider">
                <div class="model" onclick="window.location.href='/produtos/violinos'">
                  <div class="informação">
                    <h1>Violinos</h1>
        
                    </div>
                    <img src="../assets/images/violino.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violas'">
                  <div class="informação">
                    <h1>Violas</h1>
                
                    </div>
                    <img src="../assets/images/viola.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/violoncelos'">
                  <div class="informação">
                    <h1>Violoncelos</h1>
                
                    </div>
                    <img src="../assets/images/violoncelo.jpg" alt="" srcset="">
                </div>
                <div class="model" onclick="window.location.href='/produtos/contra-baixos'">
                  <div class="informação">
                    <h1>Contra-baixos</h1>
                    </div>
                    <img src="../assets/images/baixo.jpg" alt="" srcset="">
                </div>
              </div>
            
              <button aria-label="Previous" class="glider-ant" aria-disabled="false">&#8249;</button>
              <button aria-label="Next" class="glider-prox" aria-disabled="false">&#8250;</button>
            </div>

</section>
{{/menu.celos}}


<section>

{{#menu.products}}
    <div class="productsTitle">
        <h1>PRODUTOS ({{quantidade}})<h1>
    </div>
    <div class="productsContainer">
        <div class="products">
{{/menu.products}}


{{#menu.violins}}
    <div class="productsTitle">
        <h1>PRODUTOS ({{quantidade}})<h1>
    </div>
    <div class="productsContainer">
        <div class="products">
{{/menu.violins}}

{{#menu.celos}}
    <div class="productsTitle">
        <h1>PRODUTOS ({{quantidade}})<h1>
    </div>
    <div class="productsContainer">
        <div class="products">
{{/menu.celos}}

{{#menu.violas}}
    <div class="productsTitle">
        <h1>PRODUTOS ({{quantidade}})<h1>
    </div>
    <div class="productsContainer">
        <div class="products">
{{/menu.violas}}

{{#menu.cbaixos}}
    <div class="productsTitle">
        <h1>PRODUTOS ({{quantidade}})<h1>
    </div>
    <div class="productsContainer">
        <div class="products">
{{/menu.cbaixos}}


{{#produtos}}

            <div class="productCard" onclick= " window.location.href = '/produtos/{{slug}}' ">
                <div class="productBody">
                </div>
                {{#photo}}
                <img src="/src/../uploads/{{photo}}"/>
                {{/photo}}
                <div class="productInfo">
                    <h1>{{tittle}}</h1>
                    <div class="price_rating">
                        <h2>R$: {{price}}</h2>
                    </div>
                </div>
            </div>
        {{/produtos}}

        {{#violins}}
            <div class="productCard" onclick= " window.location.href = '/produtos/{{slug}}' ">
                <div class="productBody">
                </div>
                {{#photo}}
                <img src="/src/../uploads/{{photo}}"/>
                {{/photo}}
                <div class="productInfo">
                    <h1>{{tittle}}</h1>
                    <div class="price_rating">
                        <h2>R$: {{price}}</h2>
                    </div>
                </div>
            </div>
        {{/violins}}   

        {{#cBaixos}}
            <div class="productCard" onclick= " window.location.href = '/produtos/{{slug}}' ">
                <div class="productBody">
                </div>
                {{#photo}}
                <img src="/src/../uploads/{{photo}}"/>
                {{/photo}}
                <div class="productInfo">
                    <h1>{{tittle}}</h1>
                    <div class="price_rating">
                        <h2>R$: {{price}}</h2>
                    </div>
                </div>
            </div>
        {{/cBaixos}}  

        {{#violoncelo}}
            <div class="productCard" onclick= " window.location.href = '/produtos/{{slug}}' ">
                <div class="productBody">
                </div>
                {{#photo}}
                <img src="/src/../uploads/{{photo}}"/>
                {{/photo}}
                <div class="productInfo">
                    <h1>{{tittle}}</h1>
                    <div class="price_rating">
                        <h2>R$: {{price}}</h2>
                    </div>
                </div>
            </div>
        {{/violoncelo}}  

        {{#viola}}
            <div class="productCard" onclick= " window.location.href = '/produtos/{{slug}}' ">
                <div class="productBody">
                </div>
                {{#photo}}
                <img src="/src/../uploads/{{photo}}"/>
                {{/photo}}
                <div class="productInfo">
                    <h1>{{tittle}}</h1>
                    <div class="price_rating">
                        <h2>R$: {{price}}</h2>
                    </div>
                </div>
            </div>
        {{/viola}}  

        </div>
    </div>
</section>
{{>partials/footer}}