        <section class="footer">
            <a class="logo-footer">

            {{#menu.violins}}
                <img src="../assets/images/marcaBranca.png" alt="">
            {{/menu.violins}}

            {{#menu.violas}}
                <img src="../assets/images/marcaBranca.png" alt="">
            {{/menu.violas}}

            {{#menu.celos}}
                <img src="../assets/images/marcaBranca.png" alt="">
            {{/menu.celos}}

            {{#menu.cbaixos}}
                <img src="../assets/images/marcaBranca.png" alt="">
            {{/menu.cbaixos}}

            <img src="assets/images/marcaBranca.png" alt="">
            
            </a>
            <div class="sublogo">
                <a href="https://goo.gl/maps/UapmioNk3hpd3EoG7">R. Acácio Gomes, 316 - Jardim Santa Virginia, Taquarituba - SP, 18740-000</a>
                <p href="">aberto das 7:30 às 17:00 de Segunda à Sexta.</a>
                    <ul class="nav-media-footer">
                        <li>
                            <a><i class="fas fa-envelope-square"></i></a>
                        </li>
                        <div class="mail">
                        <a>rolimsom@gmail.com</a>
                        </div>
                        <li>
                            <a><i class="fas fa-phone-square-alt"></i></a>
                        </li>
                        <div class="phone">
                            <a>(14) 3762-2312</a>
                        </div>
                    </ul>
            </div>
        </section>

        <section class="copyright">
            <a>Rolim Instrumentos, desde 1991 - Todos os direitos reservados ©</a>
        </section>

        {{#menu.stores}}
            <script src="assets/javascript/glider.min.js"></script>
            <script src="assets/javascript/gliderlojas.js"></script>
            <script src="assets/javascript/sliderlojas.js"></script>
        {{/menu.stores}}

        {{#menu.home}}
            <script src="assets/javascript/navbaranimation.js"></script>
            <script src="assets/javascript/glider.min.js"></script>
            <script src="assets/javascript/glider.js"></script>
        {{/menu.home}}

        {{#menu.products}}
            <script src="assets/javascript/filterSlider.js"></script>
            <script src="assets/javascript/clickHandler.js"></script>
            <script src="assets/javascript/glider.min.js"></script>
            <script src="assets/javascript/gliderStore.js"></script>
        {{/menu.products}}

        {{#menu.violins}}
            <script src="../assets/javascript/filterSlider.js"></script>
            <script src="../assets/javascript/clickHandler.js"></script>
            <script src="../assets/javascript/glider.min.js"></script>
            <script src="../assets/javascript/gliderStore.js"></script>

            <script src="../assets/javascript/mobilenavbar.js"></script>
        {{/menu.violins}}

        {{#menu.celos}}
            <script src="../assets/javascript/filterSlider.js"></script>
            <script src="../assets/javascript/clickHandler.js"></script>
            <script src="../assets/javascript/glider.min.js"></script>
            <script src="../assets/javascript/gliderStore.js"></script>

            <script src="../assets/javascript/mobilenavbar.js"></script>
        {{/menu.celos}}

        {{#menu.violas}}
            <script src="../assets/javascript/filterSlider.js"></script>
            <script src="../assets/javascript/clickHandler.js"></script>
            <script src="../assets/javascript/glider.min.js"></script>
            <script src="../assets/javascript/gliderStore.js"></script>

            <script src="../assets/javascript/mobilenavbar.js"></script>
        {{/menu.violas}}

        {{#menu.cbaixos}}
            <script src="../assets/javascript/filterSlider.js"></script>
            <script src="../assets/javascript/clickHandler.js"></script>
            <script src="../assets/javascript/glider.min.js"></script>
            <script src="../assets/javascript/gliderStore.js"></script>

            <script src="../assets/javascript/mobilenavbar.js"></script>
        {{/menu.cbaixos}}

        <script src="assets/javascript/mobilenavbar.js"></script>
        <script src="https://kit.fontawesome.com/18337444bc.js" crossorigin="anonymous"></script>
    </body>
</html>