<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    {{#menu.home}}
        <title>Rolim | Início</title>

        <link rel="stylesheet" href="assets/styles/indexStyles/index.css">
        <link rel="stylesheet" href="assets/styles/indexStyles/mobile.css">
        <link rel="stylesheet" href="assets/styles/mainStyles/navbar.css">
        {{! <link rel="stylesheet" href="assets/styles/mainStyles/glider.min.css"> }} <!-- ANIMAÇÃO SLIDER -->
    {{/menu.home}}

    {{#menu.about}}
        <title>Rolim | Sobre nós</title>

        <link rel="stylesheet" href="assets/styles/mainStyles/whiteNavbar.css">
        <link rel="stylesheet" href="assets/styles/aboutStyles/sobre.css">       
        <link rel="stylesheet" href="assets/styles/aboutStyles/sobreMobile.css">       

    {{/menu.about}}
    
    {{#menu.stores}}
        <title>Rolim | Revendedores</title>

        <link rel="stylesheet" href="assets/styles/mainStyles/whiteNavbar.css">
        <link rel="stylesheet" href="assets/styles/mainStyles/glider.min.css">
        <link rel="stylesheet" href="assets/styles/resellersStyles/index.css">
        <link rel="stylesheet" href="assets/styles/resellersStyles/mobile.css">


    {{/menu.stores}}

    {{#menu.products}}
        <title>Rolim | Produtos</title>
        <link rel="stylesheet" href="assets/styles/productStyles/index.css">
        <link rel="stylesheet" href="assets/styles/productStyles/slider.css">
        <link rel="stylesheet" href="assets/styles/indexStyles/index.css">
        <link rel="stylesheet" href="assets/styles/mainStyles/whiteNavbar.css">
    {{/menu.products}}

    {{#menu.violins}}
        <title>Rolim | Produtos | Violinos</title>
        <link rel="stylesheet" href="../assets/styles/productStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/productStyles/slider.css">
        <link rel="stylesheet" href="../assets/styles/indexStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/whiteNavbar.css">

        <link rel="stylesheet" href="../assets/styles/mainStyles/scrollbar.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/footer.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/fontes.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/glider.min.css">
        
        <!-- ICONE DO SITE -->
        <link rel="icon" type="imagem/png" href="../assets/images/icon.png">
    {{/menu.violins}}

    {{#menu.celos}}
        <title>Rolim | Produtos | Violoncelos</title>
        <link rel="stylesheet" href="../assets/styles/productStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/productStyles/slider.css">
        <link rel="stylesheet" href="../assets/styles/indexStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/whiteNavbar.css">

        <link rel="stylesheet" href="../assets/styles/mainStyles/scrollbar.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/footer.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/fontes.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/glider.min.css">
        
        <!-- ICONE DO SITE -->
        <link rel="icon" type="imagem/png" href="../assets/images/icon.png">
    {{/menu.celos}}

    {{#menu.violas}}
        <title>Rolim | Produtos | Violas</title>
        <link rel="stylesheet" href="../assets/styles/productStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/productStyles/slider.css">
        <link rel="stylesheet" href="../assets/styles/indexStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/whiteNavbar.css">

        <link rel="stylesheet" href="../assets/styles/mainStyles/scrollbar.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/footer.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/fontes.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/glider.min.css">
        
        <!-- ICONE DO SITE -->
        <link rel="icon" type="imagem/png" href="../assets/images/icon.png">
    {{/menu.violas}}

    {{#menu.cbaixos}}
        <title>Rolim | Produtos | Contra-baixos</title>
        <link rel="stylesheet" href="../assets/styles/productStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/productStyles/slider.css">
        <link rel="stylesheet" href="../assets/styles/indexStyles/index.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/whiteNavbar.css">

        <link rel="stylesheet" href="../assets/styles/mainStyles/scrollbar.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/footer.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/fontes.css">
        <link rel="stylesheet" href="../assets/styles/mainStyles/glider.min.css">
        
        <!-- ICONE DO SITE -->
        <link rel="icon" type="imagem/png" href="../assets/images/icon.png">
    {{/menu.cbaixos}}

    <!-- MAIN STYLES -->
    <link rel="stylesheet" href="assets/styles/mainStyles/scrollbar.css">
    <link rel="stylesheet" href="assets/styles/mainStyles/footer.css">
    <link rel="stylesheet" href="assets/styles/mainStyles/fontes.css">
    <link rel="stylesheet" href="assets/styles/mainStyles/glider.min.css">
    
    <!-- ICONE DO SITE -->
    <link rel="icon" type="imagem/png" href="assets/images/icon.png">

</head>
<body>
<header>
    <div class="container">
        <nav class="nav">
            {{#menu.violins}}
                <a class="logo"><img id="originalLogo" style="display: block;" src="../assets/images/marca.png" alt="">
            {{/menu.violins}}

            {{#menu.violas}}
                <a class="logo"><img id="originalLogo" style="display: block;" src="../assets/images/marca.png" alt="">
            {{/menu.violas}}

            {{#menu.celos}}
                <a class="logo"><img id="originalLogo" style="display: block;" src="../assets/images/marca.png" alt="">
            {{/menu.celos}}

            {{#menu.cbaixos}}
                <a class="logo"><img id="originalLogo" style="display: block;" src="../assets/images/marca.png" alt="">
            {{/menu.cbaixos}}

            <a class="logo"><img id="originalLogo" style="display: block;" src="assets/images/marca.png" alt="">
            {{#menu.home}}
            <a class="logo"><img id="originalLogo" style="display: none;" src="assets/images/marca.png" alt="">
            <img id="whiteLogo" src="assets/images/marcaBranca.png" alt="">
            {{/menu.home}}
            </a>
            <ul class="nav-list">
                <li>
                    <a href="/" class="nav-link">Início</a>
                </li>
                <li>
                    <a href="/produtos" class="nav-link">Produtos</a>
                </li>
                <li>
                    <a href="/revendedores" class="nav-link">Revendedores</a>
                </li>
                <li>
                    <a href="/sobre" class="nav-link">Sobre</a>
                </li>
                <ul class="nav-medias">
                    <li class="fb">
                        <a href="https://www.facebook.com/RolimInstrumentosMusicais"><i class="fab fa-facebook-f"></i></a>
                    </li>
                    <li class="inst">
                        <a href="https://www.instagram.com/rolim.musical/"><i class="fab fa-instagram"></i></a>
                    </li> 
                </ul>
            </ul>
            
            <div class="mobile-menu">
            </div>
        </nav>
    </div>
</header>