<script src="assets/javascript/mobilenavbar.js"></script>
<script src="assets/javascript/nextandprev.js"></script>
<script src="assets/javascript/navbaranimation.js"></script>
<script src="assets/javascript/test.js"></script>
<script src="assets/javascript/searchBar.js" crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/18337444bc.js" crossorigin="anonymous"></script>