
/* body::-webkit-scrollbar {
    width: 10px;
}
body::-webkit-scrollbar-thumb:vertical {
    border-radius: 3px;
    background: #000000;
}

body::-webkit-scrollbar-track {
    background-color: rgba(0, 0, 0, 0);
    background-size: 2px 1px;
    border-radius: 3px;
} */

body{
    overflow: overlay;
}

body{
    overflow-x: hidden;
}

::-webkit-scrollbar{
    background: transparent;
}

::-webkit-scrollbar-thumb{
   /*  background: #313131; */
    background: rgba(255, 255, 255, 0);
    border-radius: 1px;
}

::-webkit-scrollbar-corner{
    border-radius: 1px;
}